{% extends 'base.html' %}
{% load static %}
{% block content %}
            <header class="site-header section-padding-img site-header-image">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-6 col-12 header-info">
                            <h1>
                                <span class="d-block text-primary">About</span>
                                <span class="d-block text-dark">Me</span>
                            </h1>
                            <h6>Hi, i'm Sevier Banda, a  versatile Graphic Designer, Web Developer, and IT Specialist. My journey in the digital world began with a fascination for creativity and technology. <br>
                            I believe in the power of design to communicate, inspire, and drive action. Let's collaborate and turn your vision into reality.</h6>
                        </div>
                    </div>
                </div>

                <img src="{% static 'images/header/businesspeople-meeting-office-working.jpg' %}" class="header-image img-fluid" alt="">
                
            </header>

            <section class="about section-padding">
                <div class="container">
                    <div class="row">
                                <div class="tab-pane fade show active " id="pills-skill" role="tabpanel" aria-labelledby="pills-skill-tab">
                                    <div class="row">
                                        <div class="col-lg-7 col-12">
                                            <img src="{% static 'images/cody-lannom-G95AReIh_Ko-unsplash.jpg' %}" class="img-fluid" alt="">
                                        </div>

                                        <div class="col-lg-5 col-12">
                                            <div class="d-flex flex-column h-100 ms-lg-4 mt-lg-0 mt-5">
                                                <h4 class="mb-3">Education</h4>

                                                <p>Evelyn Hone College of Applied Arts and Commerce 2022 - 2024<br> <strong>( Diploma In Information Technology.)</strong></p>
                                                <p>Chunga Secondary School 2016 - 2018<br> <strong>( Grade 12 O'Level Certificate.)</strong></p>


                                                <h4 class="mb-3">Skills</h4>

                                                <div class="skill-thumb mt-3">

                                                    <strong>Adobe Creative Suite</strong>
                                                        {% comment %} <span class="float-end">80%</span> {% endcomment %}
                                                            <div class="progress">
                                                                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
                                                            </div>

                                                    <strong>Python Programming</strong>
                                                        {% comment %} <span class="float-end">60%</span> {% endcomment %}
                                                            <div class="progress">
                                                                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div>
                                                            </div>

                                                    <strong>MySQL Database</strong>
                                                        {% comment %} <span class="float-end">60%</span> {% endcomment %}
                                                            <div class="progress">
                                                                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
                                                            </div>

                                                    <strong>Django Framework</strong>
                                                        {% comment %} <span class="float-end">60%</span> {% endcomment %}
                                                            <div class="progress">
                                                                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
                                                            </div>

                                                    <strong>MySQL Database</strong>
                                                        {% comment %} <span class="float-end">60%</span> {% endcomment %}
                                                            <div class="progress">
                                                                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
                                                            </div>


<br>
                                                   
                                    <ul class="social-icon">

                                        <li><a href="#" class="social-icon-link bi-telegram"></a></li>
                                        <li><a href="#" class="social-icon-link bi-facebook"></a></li>

                                        <li><a href="https://www.youtube.com/@fpgrapgixx115" class="social-icon-link bi-youtube"></a></li>

                                        <li><a href="#" class="social-icon-link bi-linkedin"></a></li>

                                        <li><a href="#" class="social-icon-link bi-whatsapp"></a></li>
                                        <li><a href="#" class="social-icon-link bi-github"></a></li>
                                    </ul>




                                                </div>
                                                
                                                
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </section>









            
            <section class="team section-padding">
                <div class="container">
                    <div class="row">

                        <div class="col-12">
                            <h2 class="mb-5"><span></span>Referees</h2>
                        </div>

                        <div class="col-lg-4 mb-4 col-12">
                            <div class="team-thumb d-flex align-items-center">
                                <div class="team-info">
                                    <h5 class="mb-0"><span>MR</span>. Brian Mutale</h5>
                                    <strong class="text-muted">brianmutale3@gmail.com</strong><br>
                                    <strong class="text-muted">+260977317436</strong>

                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 mb-4 col-12">
                            <div class="team-thumb d-flex align-items-center">
                                <div class="team-info">
                                    <h5 class="mb-0"><span>Mr</span>. Sichilima Given</h5>
                                    <strong class="text-muted">givensichilima1998@gmail.com</strong><br>
                                    <strong class="text-muted">+260969044620</strong>

                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 mb-lg-0 mb-4 col-12">
                            <div class="team-thumb d-flex align-items-center">              

                                <div class="team-info">
                                    <h5 class="mb-0"><span> Mr</span>.Cytone Kibela,</h5>
                                    <strong class="text-muted">cytonekibela@gmail.com</strong><br>
                                    <strong class="text-muted">+260966431505</strong>
  
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>

            {% comment %} <section class="testimonial section-padding">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-9 mx-auto col-11">
                            <h2 class="text-center">My <br> <span>Referees</span></h2>

                            <div class="slick-testimonial">
                                <div class="slick-testimonial-caption">
                                    <p class="lead">
                                       Mr. Mutale, is a Computer nertworking and Computer Security tutor from Evelyn Hone College of applied arts and commerce.
                                       <br>
                                       <br>
                                    <strong> brianmutale3@gmail.com</strong> <br>
                                <strong> +260977317436 </strong>
                                        </p>

                                    <div class="slick-testimonial-client d-flex align-items-center mt-4">
                                      

                                        <span><strong class="text-muted">Mr. Brian Mutale: </strong></span>
                                    </div>
                                </div>

                                <div class="slick-testimonial-caption">
                                    <p class="lead">
                                        Mr. Sichilima, is a python programming tutor from Evelyn Hone College of applied arts and commerce.
                                       <br>
                                       <br>
                                    <strong>
                                        givensichilima1998@gmail.com
                                        </strong> <br>
                                <strong> +260969044620</strong>
                                        </p>


                                    <div class="slick-testimonial-client d-flex align-items-center mt-4">
                                      

                                        <span><strong class="text-muted">Mr. Sichilima Given</strong></span>
                                    </div>
                                </div>

                               

                                <div class="slick-testimonial-caption">
                                    <p class="lead">
                                        Mr. Kibela, is a Database Technologies tutor from Evelyn Hone College of applied arts and commerce.
                                       <br>
                                       <br>
                                    <strong>
                                        cytonekibela@gmail.com
                                        </strong> <br>
                                <strong> +260966431505</strong>
                                        </p>

                                    <div class="slick-testimonial-client d-flex align-items-center mt-4">
                             

                                        <span><strong class="text-muted">Mr. Cytone Kibela</strong></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section> {% endcomment %}

        {%endblock %}