{% extends 'base.html' %}
{% load static %}
{% block content %}
            <header class="site-header section-padding-img site-header-image">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-6 col-12 header-info">
                            <h1>
                                <span class="d-block text-primary">Graphic </span>
                                <span class="d-block text-dark">Design</span>
                            </h1>
                            <h6>Logo Design <br><br>
                                Branding<br><br>
                                Marketing Materials<br><br>
                                UI/UX Design<br><br>
                                illustrations<br><br>
                        </div>

                        <div class="col-lg-6 col-12 header-info">
                            <h1>
                                <span class="d-block text-primary">Web</span>
                                <span class="d-block text-dark">Development</span>
                            </h1>
                            <h6>responsive Web Design<br><br>
                                Front-End Development<br><br>
                                Back-End Development<br><br>
                                E-Commerce Solutions<br><br>
                                content management Systems (CMS)

                            </h6>
                        </div>              
                        <br><br>
                        <div class="col-lg-6 col-12 header-info">
                            <h1>
                                <span class="d-block text-primary">IT</span>
                                <span class="d-block text-dark">Services</span>
                            </h1>
                            <h6>network Setup and Management<br><br>
                                cybersecurity<br><br>
                                Cloud Solutions<br><br>
                                IT Support Solutions<br><br>
                                Data Backup & Recovery

                            </h6>
                        </div>
                    </div>

                </div>

              
                
            </header>
        {%endblock %}