{% extends "base.html" %}
{% load static %}
{% block content %}

<header class="site-header section-padding d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="row">
            <div class="d-flex justify-content-center align-items-center">
                <h1 class="d-block text-primary">
                    Terms of Use
                </h1>
            </div>
        </div>
    </div>
</header> 

    <section class="front-product">
        <div class="container-fluid p-10">
            <div class="row align-items-center">
                <div class="col-lg-6 col-12">
                    <div class="px-5 py-5 py-lg-0">
                        <h4 class="mb-4"><span>1. Acceptance of</span> Terms</h4>
                        <p class="lead mb-4">
                            <b>By accessing or using the Site, you agree to comply with these Terms and Conditions and any additional guidelines or rules posted on the Site. We reserve the right to update these Terms and Conditions at any time without prior notice.</b>
                        </p>
                        
                    </div>
            
              
                    <div class="px-5 py-5 py-lg-0">
                        <h4 class="mb-4"><span>2. Use of the </span> Site</h4>
                        <p class="lead mb-4">
                            <b>2.1 Eligibility <br>
                            To use this Site, you must be at least 16 years old or have the consent of a parent or guardian.
                            <br><br>
                           2.2 Permitted Use <br>
                            You may use the Site for personal, non-commercial purposes only. You agree to:</b>
                            <ul>
                                <li>Use the Site in accordance with all applicable laws and regulations.</li>
                                <li>Not engage in any activities that interfere with or disrupt the Site’s functionality or security.</li>
                                <li>Not copy, modify, distribute, or create derivative works from any content on the Site without our express written permission.</li>
                            </ul>
                        </p>
                        
                    </div>
                </div>
            </div>
        </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-12">
                <h4 class="mb-4"><span>3. Intellectual </span>Property</h4>
                <p class="lead mb-4">
                    <b>All content on the Site, including text, images, graphics, and logos, is the intellectual property of footprintsgraphixx.store and is protected by copyright and other intellectual property laws. You may not use any content from the Site for commercial purposes without our express written consent.</b>
                </p>

                <h4 class="mb-4"><span>4. Limitation of </span>Liability</h4>
                <p class="lead mb-4">
                    <b>To the fullest extent permitted by law, footprintsgraphixx.store shall not be liable for any indirect, incidental, special, or consequential damages arising out of or in connection with your use of the Site or these Terms and Conditions.</b>
                </p>

                <h4 class="mb-4"><span>5. Governing </span>Law</h4>
                <p class="lead mb-4">
                    <b>These Terms and Conditions shall be governed by and construed in accordance with the laws of Zambia. Any disputes arising from these Terms and Conditions or your use of the Site shall be resolved in the courts of Zambia.</b>
                </p>

                <h4 class="mb-4"><span>6. Changes to These </span>Terms</h4>
                <p class="lead mb-4">
                    <b>We may update these Terms and Conditions from time to time. Any changes will be posted on this page with an updated effective date. Your continued use of the Site after any changes signifies your acceptance of the new terms.</b>
                </p>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</section>

{% endblock %}
